/* Webfont: Quaron-ObliqueOutline */@font-face {
    font-family: 'QuaronOutline';
    src: url('Quaron-Oblique-Outline.eot'); /* IE9 Compat Modes */
    src: url('Quaron-Oblique-Outline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Quaron-Oblique-Outline.woff') format('woff'), /* Modern Browsers */
         url('Quaron-Oblique-Outline.woff2') format('woff2'), /* Modern Browsers */
         url('Quaron-Oblique-Outline.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

